html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #262f3eff;
	font-family: 'Lato', 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
	height: 100%;
}

img.head_img {
	width: 15%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #FFFFFF;
	margin-top: 15px;
	margin-bottom: 18px;
}

a:link {
	color: #ff9900ff
}

a:visited {
	color: #dd7722ff
}

* {
	box-sizing: border-box;
}
